body {
 background-color: #444;
  font-family: Segoe UI,sans-serif;
  font-weight: 100;
  color: white;
}

.btn.btn-default {
  background-color: #333;
  color: white;
  border-width: 0px;
  min-height: 80px;
  min-width: 100px;
  font-size: 40px;
  font-weight: 100;
  margin: 5px;
}

.smallSized .btn.btn-default {
  min-height: 40px;
  min-width: 50px;
  font-size: 20px;
  margin: 2px;
}

.btn.btn-default:active {
  background-color: #333;
  color: white;
}

.pomodoroContainer {
  width: 700px;
  height: 700px;
  margin: 25px auto auto auto;
  padding: 50px;
  font-size: 40px;
  display: table;
}

.pomodoroContainer.smallSized {
  width: 350px;
  height: 350px;
  margin: 13px auto auto auto;
  padding: 25px;
  font-size: 20px;
}

.timeSelector {
  width: 100%;
  height: 50%;
  margin: 0px;
  padding: 0px;
}

.timeSelector .panel {
  background-color: #333;
  border-width: 0px;
}

.timeSelector .panel-header {
  color: white;
  padding: 5px 5px 0px 15px;
  font-size: 30px
}

.smallSized .timeSelector .panel-header {
  padding: 2px 2px 0px 8px;
  font-size: 15px
}

.timeSelector .panel-body {
  display: table;
  margin: auto;
  padding: 10px;
}

.smallSized .timeSelector .panel-body {
  padding: 5px;
}

.timeSelector .panel-body table {
  display: table-cell;
  align-content: center;
  margin: 0px;
  padding: 0px;
}

.timeSelector .btn.btn-default {
  font-size: 50px;
  font-weight: 100;
}

.smallSized .timeSelector .btn.btn-default {
  font-size: 25px;
}

.timeSelector .btn.btn-default.minuteDisplayButton {
  min-width: 210px;
}

.smallSized .timeSelector .btn.btn-default.minuteDisplayButton {
  min-width: 105px;
}

.initialInputDisplay {
  display: table-cell;
  vertical-align: middle;
}

.initialInputDisplay .btn.btn-default:active {
  color: white;
  border-width: 0px;
}

.initialInputDisplay .startButton {
  border-width: 1px;
  border-color: #49d155;
  margin: 0px;
  width: 100%;
}

.initialInputDisplay .startButton:active {
  background-color: #49d155;
}

.circleDisplay {
  position: relative;
  height: 100%;
  width: 100%;
  display: table;
}

.circleDisplay .circle {
  position: absolute;
  top: 0;
  left; 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.circleDisplay .timeSelectorDisplay {
  position: absolute;
  top: 0;
  left; 0;
  height: 600px;
  width: 600px;
  z-index: 2;
  display: table;
}

.smallSized .circleDisplay .timeSelectorDisplay {
  height: 300px;
  width: 300px;
}

.circleDisplay .timeSelectorDisplay .btn.btn-default {
  min-height: 80px;
  min-width: 150px;
  font-size: 40px;
  margin: 5px;
}

.smallSized .circleDisplay .timeSelectorDisplay .btn.btn-default {
  min-height: 40px;
  min-width: 75px;
  font-size: 20px;
  margin: 2px;
}

.circleDisplay .timeSelectorDisplay>div {
  display: table-cell;
  margin: auto;
  vertical-align: middle;
}

.circleDisplay .timeSelectorDisplay .timeRemainingText {
  font-size: 75px;
}

.smallSized .circleDisplay .timeSelectorDisplay .timeRemainingText {
  font-size: 38px;
}

.circleDisplay .timeSelectorDisplay>div>table {
  margin: auto;
  text-align: center;
}

.pomodoroUserControl {
  height: 100%;
  width: 100%;
  display: table;
  margin: 0px;
  padding: 0px;
}

.pomodoroUserControl>div {
  display: table-cell;
  vertical-align: middle;
  align-content: center;
  margin: auto;
}

.pomodoroUserControl>div>table {
  margin: auto;
}
