.pomodoroTimeSelector {
  width: 600px;
  height: 600px;
  margin: auto;
  display: table;
}

.pomodoroTimeSelector>div {
  display: table-cell;
  vertical-align: middle;
  align-content: center;
  margin: auto;
}

.pomodoroTimeSelector>div>table {
  margin: auto;
}


.circleDisplay {
  position: relative;
  height: 100px;
  width: 100px;
}

.circleDisplay .circle {
  position: absolute;
  top: 0;
  left; 0;
  height: 100px;
  width: 100px;
  z-index: 1;
}

.circleDisplay .timeSelectorDisplay {
  position: absolute;
  top: 0;
  left; 0;
  height: 100px;
  width: 100px;
  z-index: 2;
  display: table;
}

.circleDisplay .timeSelectorDisplay>div {
  display: table-cell;
  margin: auto;
  vertical-align: middle;
}

.circleDisplay .timeSelectorDisplay>div>table {
  margin: auto;
  text-align: center;
}